@import './../../common/variable.scss';

// 我的页 背景弧形
section{
  width: 100%;
  position: fixed;
}
.mine-bg {
  width: 100%;
  @include gradient(#FFDE02, yellow);
  //@include gradient($color-primary-deep, $color-primary-light);
  position: fixed;
  z-index: -1;
  top: 0;
  overflow: hidden;
  height: 5rem;
}

// 我的 标题
.mine-me{
  width: 100%;
  .me-tag{
    height: 6rem;
    .tag-bar{
      height: 3rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .tag{
        padding: .3rem;
        border-radius: .2rem;
        background: white;
        font-size: .8rem;
      }
    }

  }
  .me-head{
    margin-top: 4rem;
    height: 6rem;
    display: flex;
    padding: 0 1.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: white;
    border-bottom: 1px #EDEDED solid;
    .head{
      height: 4rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .avatar{
        margin-top: -3rem;
        border: 1px #EDEDED solid;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        background: white;
        img {
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 50%;
        }
      }
      .edit{
        padding: .2rem;
        line-height: 1rem;
        font-size: .75rem;
        color:yellow;
        border: 1px yellow solid;
      }
    }
    .body{
      width: 100%;
      margin-top: -1rem;
      margin-bottom: .5rem;
    }
    .footer{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: .75rem;
      .text{
        margin-right: 1rem;
      }
      span{
        color: gray;
        margin-left: .2rem;
      }
    }

  }
  .me-info{
    height: 2rem;
    .me-name{

    }
    .me-fan{

    }
  }
}
.mine-card {
  margin: 0 .75rem .25rem .75rem;
  background: $color-white;
  padding: .75rem;
  box-sizing: border-box;
  border-radius: .25rem;
  // 我的 头像
  &.mine-me {
    /*.mine-edit {
        text-align: right;
        color: $color-primary-deep;
        @include gradient($color-primary-deep, $color-primary-light);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: .7rem;
    }
    .mine-head {
        width: 3rem;
        height: 3rem;
        margin: 2rem auto 0;
        position: relative;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        .vip-icon {
            position: absolute;
            right: -.3rem;
            bottom: .3rem;
            width: 1rem;
            height: 1rem;
            /deep/
            img {
                display: block;
                width: 1rem;
                height: 1rem;
            }
        }
        &.no img {
            border-color: transparent;
        }
        img {
            width: 3rem;
            height: 3rem;
            display: block;
            border-radius: 50%;
            border: 1px solid $color-primary-deep;
        }
    }
    .mine-name {
        margin: .75rem 0;
        font-size: .7rem;
        color: $color-text-deep;
        text-align: center;
        &.no {
            color: $color-text-light;
        }
    }
    .mine-auth {
        margin: .75rem 0;
        display: flex;
        justify-content: center;
        .bbsCertification {
            color: $color-primary;
            font-size: .6rem;
        }
        .bbsAuthName {
            color: $color-primary;
            font-size: .55rem;
            position: relative;
            top: .05rem;
        }
    }
    */

  }
  // 我的 信息
  &.mine-info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    .mine-side {
      width: 4.9rem;
      .mine-info-content {
        font-size: .75rem;
        color: $color-text-deep;
        margin-bottom: .5rem;
      }
      .mine-info-label {
        font-size: .55rem;
        color: $color-text-light;
      }
      .mine-info-icon {
        width: 1.2rem;
        height: 1.2rem;
        margin: 0 auto .25rem;
        border-radius: 50%;
        text-align: center;
        line-height: 1.2rem;
        color: #FFDE02;
        font-size: .625rem;
        background: rgba(254, 88, 72, .1)
      }
    }
    .mine-mid {
      width: 6.6rem;
      border-left: .05rem solid $color-border;
      border-right: .05rem solid $color-border;
      .mine-info-content {
        font-size: .75rem;
        color: $color-text-deep;
        margin-bottom: .5rem;
      }
      .mine-info-label {
        font-size: .55rem;
        color: $color-text-light;
      }
      .mine-info-icon {
        width: 1.2rem;
        height: 1.2rem;
        margin: 0 auto .25rem;
        border-radius: 50%;
        text-align: center;
        line-height: 1.2rem;
        color: #FFDE02;
        font-size: .625rem;
        background: rgba(254, 88, 72, .1)
      }
      //.vip-out {
      //  width: 5.5rem;
      //  height: .3rem;
      //  border: 1px solid $color-primary-deep;
      //  border-radius: .15rem;
      //  margin: 0 auto;
      //  padding: 0 .05rem;
      //  .vip-in {
      //    width: 0;
      //    height: .2rem;
      //    margin: .05rem 0;
      //    border-radius: .1rem;
      //    background: url('./../../../../assets/img/mine/precent.png') repeat-y;
      //    background-size: cover;
      //    background-position: center;
      //  }
      //}
    }
  }
  // 我的 列表
  &.mine-list {
    padding: 0;
    .mine-list-item {
      padding: 0 .75rem;
      height: 2.4rem;
      line-height: 2.4rem;
      display: flex;
      justify-content: space-between;
      &:not(:last-child) {
        border-bottom: 1px solid $color-border;
      }
      .list-left {
        .list-icon {
          font-size: .75rem;
          color: #FFDE02;
          margin-right: .75rem;
        }
        .list-label {
          font-size: .7rem;
          color: $color-text-deep;
        }
      }
      .list-right {
        font-size: .7rem;
        color: $color-text-light;
      }
    }
  }
}

// 我的 按钮
.mine-btn {
  height: 2rem;
  border-radius: 1rem;
  background: #fff;
  margin: .75rem .75rem .5rem;
  text-align: center;
  line-height: 2rem;
  color: $color-text-light;
  font-size: .75rem;
}
