@import './../../common/variable';

// 普通游戏
.game-item {
  background: $color-white;
  transform: translate3d(0, 0, 0);
  box-sizing: border-box;
  padding: 0 .75rem;
  height: 4.25rem;
  margin: 0 .75rem;
  border-bottom: 1px solid $color-border;
  display: flex;
  justify-content: space-between;
  &.top {
    border-radius: .25rem .25rem 0 0;
  }
  &.bottom {
    border-radius: 0 0 .25rem .25rem;
  }
  &.top.bottom {
    border-radius: .25rem;
  }
  .game-item-img {
    margin: .75rem 0;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: $border-radius;
    img {
      width: 2.75rem;
      height: 2.75rem;
      display: block;
      border-radius: $border-radius;
    }
  }
  .game-item-oper {
    padding-top: 1.5rem;
    box-sizing: border-box;
  }
  .game-item-info {
    height: 2.75rem;
    margin: .75rem;
    overflow: hidden;
    flex:1;
    .title {
      color: $color-text-deep;
      font-size: .7rem;
      line-height: 1rem;
    }
    .des {
      color: $color-text-mid;
      font-size: .6rem;
      line-height: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .type {
      color: $color-text-light;
      font-size: .55rem;
      line-height: .75rem;
    }
  }
}

.movie-item{
  //background: $color-white;
  transform: translate3d(0, 0, 0);
  box-sizing: border-box;
  padding: 0 .75rem;
  height: 7.25rem;
  margin: .25rem .75rem 0 .75rem;
  border-bottom: 1px solid $color-border;
  border-radius: .25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;

  .movie-img{
    height: 6rem;
    width: 4.2rem;
    background: #4B749D;
    margin-right: .75rem;

    img{
      width: 100%;
      height: 100%;
    }
  }

  .movie-des{
    height: 6rem;
    width: calc(100% - 4.95rem);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: .65rem;

    .movie-title{
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: .3rem;

      .movie-name{
        font-size: .75rem;
        color: black;
        margin-right: .3rem;
      }
      .movie-time{
        font-size: .3rem;
      }
    }

    .movie-slogan{
      color: #969696;
      font-size: .5rem;
      margin-bottom: .25rem;
    }

    .movie-tag-container{
      width: 100%;
      display: flex;
      flex-wrap: wrap;justify-content: flex-start;
      margin-top: .25rem;
      .movie-tag{
        font-size: .65rem;
        padding: .2rem .3rem;
        background: #FFDE02;
        margin-right: .25rem;
        margin-bottom: .25rem;
        color: white;
        border-radius: .25rem;
      }
    }
  }
}


// 首页卡片（视频/图片）
.game-card {
  margin: .5rem .75rem;
  transform: translate3d(0, 0, 0);
  background: $color-white;
  border-radius: .25rem;
  box-shadow: .05rem .05rem .1rem 0 $color-shadow;
  .game-card-video {
    min-height: 1rem;
    width: 100%;
    height: 9.25rem;
    border-radius: .25rem .25rem 0 0;
    img {
      width: 100%;
      height: 100%;
      border-radius: .25rem .25rem 0 0;
    }
    .video-player .video-js {
      width: 100%;
      max-height: 9.25rem;
      border-radius: .25rem .25rem 0 0;
      video {
        border-radius: .25rem .25rem 0 0 !important;
      }
    }
  }
  .game-card-img {
    width: 100%;
    height: 9.25rem;
    border-radius: .25rem .25rem 0 0;
    img {
      border-radius: .25rem .25rem 0 0;
      display: block;
      width: 100%;
      height: 9.25rem;
    }
  }
  .game-card-des {
    display: flex;
    justify-content: space-between;
    .game-card-img {
      margin: 0 .75rem;
      position: relative;
      z-index: 800;
      border-radius: $border-radius;
      width: 2.75rem;
      height: 2.75rem;
      img {
        width: 2.75rem;
        height: 2.75rem;
        display: block;
        border-radius: $border-radius;
      }
    }
    .game-card-info {
      height: 2rem;
      margin: .5rem 0;
      // width: 8.5rem;
      flex: 1;
      overflow: hidden;
      .title {
        color: $color-text-deep;
        font-size: .7rem;
        line-height: 1rem;
      }
      .des {
        color: $color-text-mid;
        font-size: .6rem;
        line-height: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &.video-des {
      height: 3rem;
      .game-card-img {
        transform: translateY(-.45rem);
      }
      .game-card-oper {
        box-sizing: border-box;
        padding: .85rem .75rem;
      }
    }
    &.img-des {
      height: 2.5rem;
      .game-card-img {
        transform: translateY(-1.1rem);
      }
      .game-card-oper {
        box-sizing: border-box;
        padding: .5rem .75rem;
      }
      .game-card-info {
        height: 1.5rem;
        .des {
          line-height: 1.5rem;
        }
      }
    }
  }
}
