@import './../../common/variable';


.video-box {
  position: relative;
  z-index: 599;
}

.video-player {
  &.border {
    .video-js {
      border-radius: .25rem .25rem 0 0;
      video {
        border-radius: .25rem .25rem 0 0;
      }
    }
  }
  .video-js {
    background: $color-text-light;
    overflow: hidden;
    video {
      height: auto;
      margin: 0 auto;
      display: block;
    }
    .vjs-big-play-button {
      border: none;
      background: none;
      width: 2.7rem;
      height: 2.7rem;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      .vjs-icon-placeholder::before {
        font-family: 'iconfont';
        content: '\e629';
        font-size: 2.7rem;
      }
    }
  }
}

.android-video{
  overflow: hidden;
  width: 100%;
  .android-video-inner{
    height: 9.25rem;
    img {
      display: block;
      height: 9.25rem;
    }
  }
}

.video-playing {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  left: 0;
  top: 0;
  z-index: 5;
  border-radius: .25rem .25rem 0 0;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.7rem;
    color: $color-white;
  }
}
.playing-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.video-pause {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: 1.5rem;
  color: $color-white;
}

.android-video-box{
  position: fixed;
  z-index: 8999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  video {
    width: 100%;
    position: absolute;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  i {
    position: absolute;
    font-size: 1rem;
    color: $color-white;
    right: .75rem;
    top: .75rem;
  }
}

// 首页卡片（视频/图片）
// .video-player {
// }

// .android-video-inner{
//     position: relative;
//     img {
//         width: 100%;
//         height: 9.25rem;
//         border-radius: .25rem .25rem 0 0;
//     }
//     .video-playing{
//         position: absolute;
//         left: 50%;
//         top: 50%;
//         transform: translate3d(-50%, -50%, 0);
//         z-index: 50;
//         font-size: 2.7rem;
//         color: $color-white;
//     }
// }

// .ios-video {
//     position: relative;
//     video {
//         width: 100%;
//         height: 9.25rem;
//         border-radius: .25rem .25rem 0 0;
//     }
//     i {
//         position: absolute;
//         left: 50%;
//         top: 50%;
//         transform: translate3d(-50%, -50%, 0);
//         z-index: 50;
//         font-size: 2.7rem;
//         color: $color-white;
//     }
// }
