@import './../../common/variable';

.container{
  width: 100%;
  padding: .5rem;
  position: relative;

  .movie-des{
    margin: 0 .5rem;
    border-bottom: 1px #ededed solid;
    height: 8.5rem;
    display: flex;

    .left-side{
      max-height: 7rem;
      width: 4.8rem;
      margin-right: 1rem;
      border-radius: .5rem;
      overflow: hidden;

      img{
        width: 100%;
      }
    }
    .right-side{
      flex: 1;
      height: 8rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .name{
        font-size: 1rem;
        color: #000;
        margin-bottom: .5rem;
      }

      .type{
        font-size: .8rem;
        margin-bottom: .5rem;
      }

      .time{
        font-size: .8rem;
        margin-bottom: .5rem;
      }

      .slogan{
        font-size: .5rem;
        margin-bottom: .8rem;
      }

      .btns{
        display: flex;
        justify-content: space-between;
        .btn{
          width: 5rem;
          height: 1.5rem;
          background: $color-disabled;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: .5rem;
          border-radius: .25rem;
          &.watched{
            background: $color-yellow;
          }
          &.nowatch{
            background: $color-disabled;
          }
        }
      }
    }
  }
  .synopsis{
    margin: 0 .5rem .5rem .5rem;
    border-bottom: 1px #ededed solid;
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
    .des-label{
      font-size: .5rem;
      color: gray;
      margin-bottom: .25rem;
    }

    .des{
      font-size: .75rem;
      line-height: 1rem;
    }


  }
  .comment{
    margin: 0 .5rem .5rem .5rem;
    border-bottom: 1px #ededed solid;
    display: flex;
    flex-direction: column;
    padding: .5rem 0;

    .comment-label{
      font-size: .5rem;
      color: gray;
      margin-bottom: .25rem;
    }

    .comment-card{
      padding: .5rem;
      display: flex;
      justify-content: flex-start;
      .comment-avator{
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        overflow: hidden;
        margin-right: .5rem;
        img{
          height: 100%;
          width: 100%;
        }
      }
      .comment-des{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom: 1px #EDEDED solid;
        padding-bottom: .5rem;
        .user-name{
          font-size: .75rem;
          color:gray;
          margin-bottom: .25rem;
        }
        .comment-time{
          font-size: .5rem;
          color:gray;
          margin-bottom: .25rem;
        }
        .comment-detail{
          font-size: .5rem;
          line-height: .9rem;
          color: black;
        }
      }
    }
  }
}

