.list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .5rem .5rem 0;
    font-size: .75rem;
    background: #ffffff;
    .item {
        width: 8.5rem;
        height: 1rem;
        margin-bottom: .5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}