.page-wrapper {
  position: fixed;
  width: 100%;
  height: calc(100% - 2.4rem);
  padding-top: 2.4rem;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  &::after {
    content: '';
    height: 2.4rem;
    width: 100%;
  }
}

.mine-wrapper{
  position: fixed;
  width: 100%;
  height: calc(100% - 10rem);
  //padding-top: 2.4rem;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  &::after {
    content: '';
    height: 2.4rem;
    width: 100%;
  }
}
