@font-face {
  font-family: 'iconfont';  /* project id 1105176 */
  src: url('//at.alicdn.com/t/font_1105176_0d72peopmlt.eot');
  src: url('//at.alicdn.com/t/font_1105176_0d72peopmlt.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1105176_0d72peopmlt.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1105176_0d72peopmlt.woff') format('woff'),
  url('//at.alicdn.com/t/font_1105176_0d72peopmlt.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1105176_0d72peopmlt.svg#iconfont') format('svg');
}

  .icon {
    font-family: 'iconfont';
    font-style: normal;

    &.more::before {
      content: '\e600';
    }

    &.back::before {
      content: '\e60d';
    }

    &.like::before {
      content: '\e630';
    }

    &.reply::before {
      content: '\e634';
    }

    &.pull::before {
      content: '\e798';
    }

    &.select::before {
      content: '\e608';
    }

    &.view::before {
      content: '\e664';
    }

    &.author::before {
      content: '\e62d';
    }

    &.label::before {
      content: '\e62e';
    }

    &.heat::before {
      content: '\e64a';
    }

    &.zan::before {
      content: '\e6c5';
    }

    &.up::before {
      content: '\e797';
    }

    &.add::before {
      content: '\e60e';
    }
  }