/**
  * 配色方案
  */

$color-text-primary: #505050;
$color-text-light: #969696; // 文本辅助色
$color-primary: #FFDB4F;
$color-deep-primary: #FF9933;
$color-text-blue: #4f98d4;
$color-text-red: rgb(233, 27, 20);